  #image-track   .img{
    widht: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
  }
  #image-track{
    display: flex;
    gap:4vmin;
    position: absolute;
    left: 50%;
    /* left:50%;
    top:50%; */
    transform: translate(0%,-50%);
    overlay: hidden;
    margin-top:162px;
    cursor: pointer;
    
  }